@primary-color: #df3b3b;

.friends-people{

  button {
    margin: 10px 0px;
    padding: 0px 10px;
    height: 40px;
    font-size: 11px;
    float: right;
  }

  .people{
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0px 20px 5px;
  }

  .people-box{

    margin-top: 20px;
    margin-bottom: 20px;
  }
}